body{
    font-family: 'seogeb UI',sans-serif;
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 350px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.from-group{
    margin-bottom: 15px;
    text-align: center;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input{
    width: 100%;
    padding: 8px;
    border: 1px solid #bbb;
    border-radius: 6px;
    outline: none;
    box-sizing: border-box;

}
 
input:focus{
    border-color: #007bff;
}

.buttons{
    margin-top: 20px;
}
 
button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    background-color: #007bff;
    color:white;
    transition: backgroud 0.3s;

}

button:hover {
    background-color: #0056b3;
}

.output{
    margin-top: 25px;
    font-size: 1.1em;
    color: #333;
}